In [22]:
def process_string():
    data = input("Enter a string: ")
    char_list = list(data)
    del char_list[1]
    del char_list[2]
    char_list.reverse()
    result_string = ''.join(char_list)
    print("Processed string:", result_string)

process_string()

Enter a string: python
Processed string: notp

In [ ]:
num1 = int(input("enter number 1 :"))
num2 = int(input("enter number 2 :"))

print("\n addition : ",(num1+num2))
print("substraction : ",(num1-num2))
print("divison : ",(num1/num2))
print("multiplication : ",(num1*num2))

enter number 1 :10
enter number 2 :20

 addition :  30
substraction :  -10
divison :  0.5
multiplication :  200

In [ ]:
inputValue = input("enter string :")
inputValue = inputValue.replace("python","pythons")
print(inputValue)

enter string :i love playing with python
i love playing with pythons

In [ ]:
marks = int(input("Enter Students score : "))

if(marks<=100 and marks>=90):
    print("Grade = A")
elif(marks<=89 and marks>=80):
     print("Grade = B")
elif(marks<=79 and marks>=70):
     print("Grade = C")
elif(marks<=69 and marks>=60):
     print("Grade = D")
elif(marks<=59 and marks>=0):
     print("Grade = F")

Enter Students score : 90
Grade = A